
.empty-user-action:focus {
 box-shadow: none;
}

.empty-user-action:focus-visible {
  outline: 2px dashed;
  outline-offset: -0.5rem;
  box-shadow: none;
}


.column-title-f {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

.column-title-f:focus-visible {
  outline: 2px dashed #fff;
}

